@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #434343;
    --form-colour: #fac423;
    --text-colour: #ffffff;
    --button-colour: #f5792c;
    --button-colour-hover: #ef8d4f;
    --input-colour: #f3912f;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--background);
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.title {
    margin: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.form {
    color: var(--text-colour);
    background-color: var(--form-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.form-inputs > input {
    color: var(--text-colour);
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: var(--text-colour) 2px solid;
    background-color: var(--input-colour);
    border-radius: 10px;
}

.form-inputs > label {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

button {
    background-color: var(--button-colour);
    color: var(--text-colour);
    border: #ffffff solid 1px;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    transition: 300ms;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-colour-hover);
}

.counter {
    color: var(--text-colour);
    background-color: var(--form-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border: #ffffff solid 2px;
    border-radius: 10px;
}

.user-greet {
    margin: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

.counter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.num {
    text-align: center;
    color: var(--background);
    font-size: 150px;
    font-weight: 900;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons > button {
    margin: 20px;
    width: 100%;
}
